{% extends "base.html" %}

{% block content %}

<!-- Pre Loader -->
  <!-- Content_right -->
    <div class="container_full h-100vh mt-0">
      <div class="container h-100"> 
        <!-- State start-->
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-8 col-lg-6 mx-auto mb-5"> 
                <!-- Middle Box -->
                <div class="middle-box">
                  <div class="card">
                    <div class="card-body p-4">
                      <h4 class="font-22">Change Password</h4>
                      <p class="text-muted mb-4">Change Password.</p>
                      
                      <form method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group"> 
                          <label class="float-left" for="password">Current Password</label>
                          <input name="old_password" class="form-control" type="password"  placeholder="Enter your Current Password">
                        </div>

                        <div class="form-group"> 
                          <label class="float-left" for="password">New Password</label>
                          <input name="new_password1" class="form-control" type="password"  placeholder="Enter new password">
                        </div>

                        <div class="form-group"> 
                          <label class="float-left" for="password">New Password Again</label>
                          <input name="new_password2" class="form-control" type="password"  placeholder="Enter new password">
                        </div>
                        
                        <div class="form-group text-center">
                          <button class="btn btn-primary btn-block" type="submit"> Log In </button>
                        </div>
                        
                      </form>

                    </div>
                    <!-- end card-body --> 
                  </div>
                  <!-- end card --> 
                </div>
              </div>              
        </div>     
        <!-- End row -->         
      </div>
    </div>
 
{% endblock content %}