{% load static %}

<!-- header -->
  <div class="header-bg">
    <header class="main-header">
      <div class="container_header phone_view border_top_bott">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-between align-items-center">
            <div class="menu-icon"> <a href="javascript:void(0)" class="menu-toggler sidebar-toggler"></a> </div>
            <div class="logo d-flex align-items-center justify-content-center"> <a href="/"> <strong class="logo_icon"> <img src="{% static 'images/logo.png' %}" alt=""> </strong> <span class="logo-default"> <img src="{% static 'images/small-logo.png' %}" alt=""> </span> </a> </div>
            <div class="right_detail">
              <div class="row d-flex align-items-center justify-content-end">
                <div class="col-xl-12 col-12 d-flex justify-content-end">
                  <div class="right_bar_top d-flex align-items-center"> 
                    
                    <!-- notification_Start -->
                    <div class="dropdown dropdown-notification"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <i class="fa fa-bell"></i> <span class="badge_coun"> 6 </span> </a>
                      <ul class="dropdown-menu scroll_auto height_fixed" >
                        <li class="bigger">
                          <h3><span class="bold">Notifications</span></h3>
                          <span class="notification-label">New 6</span> </li>
                        <li>
                          <ul class="dropdown-menu-list">
                            <li> <a href="javascript:void(0)"> <span class="time">just now</span> <span class="details"> <span class="notification-icon deepPink-bgcolor"> <i class="fa fa-check"></i> </span> Congratulations!. </span> </a> </li>
                            <li> <a href="javascript:void(0)"> <span class="time">3 mins</span> <span class="details"> <span class="notification-icon purple-bgcolor"> <i class="fa fa-user o"></i> </span> <b>John Micle </b>is now following you. </span> </a> </li>
                            <li> <a href="javascript:void(0)"> <span class="time">7 mins</span> <span class="details"> <span class="notification-icon blue-bgcolor"> <i class="fa fa-comments-o"></i> </span> <b>Sneha Jogi </b>sent you a message. </span> </a> </li>
                            <li> <a href="javascript:void(0)"> <span class="time">12 mins</span> <span class="details"> <span class="notification-icon pink"> <i class="fa fa-heart"></i> </span> <b>Ravi Patel </b>like your photo. </span> </a> </li>
                            <li> <a href="javascript:void(0)"> <span class="time">15 mins</span> <span class="details"> <span class="notification-icon yellow"> <i class="fa fa-warning"></i> </span> Warning! </span> </a> </li>
                            <li> <a href="javascript:void(0)"> <span class="time">10 hrs</span> <span class="details"> <span class="notification-icon red"> <i class="fa fa-times"></i> </span> Application error. </span> </a> </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <!-- notification_End --> 
                    
                    <!-- Dropdown_User -->
                    <div class="dropdown dropdown-user"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true"> <img class="img-circle pro_pic" src="{% static 'images/user3.png' %}" alt=""> </a>
                      <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                          <div class="user-panel">
                            <div class="user_image"> <img src="{% static 'images/user3.png' %}" class="img-circle mCS_img_loaded" alt=""> </div>
                            <div class="info">
                              <p> {{user.user_shop.shop_name}}  </p>
                              <a > {{user.user_shop.phone}}  </a> </div>
                          </div>
                        </li>
                        
                        {% if request.user.is_authenticated %}
                        <li> <a href="{% url 'accounts:profileupdate' id=user.id %}"> <i class="icon-user"></i> Profile </a> </li>
                        <li> <a href="{% url 'accounts:logout' %}"> <i class="icon-logout"></i> Log Out </a> </li>
                        {% else %}
                        <li> <a href="{% url 'accounts:login' %}"> <i class="icon-logout"></i> Log In </a> </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
<!-- header_End --> 