{% extends "base.html" %}

{% block content %}
<div class="content_wrapper bg_homebefore inner-wrapper forms-sec">
<div class="container-fluid">

    <div class="row">
        <div class="col-12 mb-4">
        <div class="card bg-info border-0 text-light pt-3 pb-3 h-100">
            <div class="card-body ">
            <div class="row">
                <div class=" col-3"> <i class="icon-people f30"></i> </div>
                <div class=" col-9">
                <h2 class="m-0 text-light">{{customer.name}}</h2>
                <p class="f12 mb-0">{{customer.address}}</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
<!--card widget start-->
        <div class="card-group mb-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="float-right"> <i class="f30 opacity-3 icon-basket-loaded"></i> </div>
                  <h3 class="text-success">$ {{customer_cost}}</h3>
                  <p class="card-subtitle text-muted fw-500">Customer Buy</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Column --> 
          <!-- Column -->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="float-right"> <i class="f30 opacity-3 icon-symbol-male"></i> </div>
                  <h3 class="text-success">$ {{customer_pay}}</h3>
                  <p class="card-subtitle text-muted fw-500">Customer Pay</p>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--card widget end-->

<!--card widget start-->
        <div class="card-group mb-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="float-right"> <i class="f30 opacity-3 icon-basket-loaded"></i> </div>
                  <h3 class="text-success">$ {{customer_baki}}</h3>
                  <p class="card-subtitle text-muted fw-500">Customer Baki</p>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--card widget end-->

<div class="row">
      <div class="col-12 grid-margin stretch-card">
              <div class="card ">
                <h4 class="header-title">Customer Buy Or Pay</h4>
                
                <form method="post" class="form-inline">
                 {% csrf_token %}
                  <input type="text" name="amount" class="form-control mb-2 mr-sm-2" placeholder="Amount">
                  
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"></div>
                    </div>
                    <input type="text" name="describe" class="form-control" placeholder="Description">
                  </div>

                  <div class="custom-control custom-radio pb-1">
                      <input type="checkbox" id="sell_cash" name="cost" class="custom-control-input">
                      <label class="custom-control-label" for="sell_cash">Cost</label>
                  </div>
                  <div class="custom-control custom-radio pb-1">
                      <input type="checkbox" id="buy" name="pay" class="custom-control-input">
                      <label class="custom-control-label" for="buy">Pay</label>
                  </div>
                  
                                                
                  <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
              </div>
            </div>
        </div>


<!-- Start Breadcrumbbar for customer -->
<div class="breadcrumbbar mt-5"> 
  <!-- Start row -->
  <div class="row">
    <div class="col-md-4 col-lg-4 mx-auto">
      <div class="text-center">
        <a href="{% url 'shop:customer_details' id=customer.id %}"><button class="btn btn-primary"><i class="ri-refresh-line mr-2"></i>Details</button></a>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbbar --> 

</div>
<!-- end container-fluid -->
</div>
<!-- end content_wrapper -->
{% include "partials/footer.html" %}
{% endblock content %}
