{% extends "base.html" %}

{% block content %}
<div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
<div class="container-fluid">

        <form method="GET">
            <label for="bdaymonth">Select Your Month:</label>
            <input type="month"  name="month">
            <input type="submit">
        </form>

        <br>

        <div class="row">
            <div class="col-12">
              <div class="card table-responsive">
                <h4 class="m-t-0 header-title">Monthly Cost</h4>
                <table id="datatable" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Description</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for customer_cost in costs %}
                    <tr>
                      <td>{{customer_cost.date|date:"d M Y"}}</td>
                      <td>{{customer_cost.describe}}n</td>
                      <td>$ {{customer_cost.amount}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <thead>
                    <tr>
                      <th>Total</th>
                      <th></th>
                      <th>{{cost_cash}}</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
        </div>
        
</div>
</div>
{% endblock content %}