{% extends "base.html" %}

{% block content %}
<div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
<div class="container-fluid">

        <form method="GET">
            <label for="bdaymonth">Select Your Month:</label>
            <input type="month"  name="month">
            <input type="submit">
        </form>

        <br>

        <div class="row">
            <div class="col-12">
              <div class="card table-responsive">
                <h4 class="m-t-0 header-title">Monthly Baki</h4>
                <table id="datatable" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Old Baki</th>
                      <th>{{old_baki}}</th>
                    </tr>
                  </thead>
                  <thead>
                    <tr>
                      <th>This Month Baki</th>
                      <th>{{monthly_baki}}</th>
                    </tr>
                  </thead>
                  <thead>
                    <tr>
                      <th>This Month Pay</th>
                      <th>-{{monthly_pay}}</th>
                    </tr>
                  </thead>
                  <thead>
                    <tr>
                      <th>Now Baki Ase</th>
                      <th>{{total_baki_all}}</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
        </div>
        
</div>
</div>
{% endblock content %}