{% extends "base.html" %}

{% block content %}

<div class="content_wrapper bg_homebefore inner-wrapper forms-sec">
    <div class="container-fluid"> 
        <!-- Start Breadcrumbbar -->
        <div class="breadcrumbbar"> 
          <!-- Start row -->
          <div class="row">
            <div class="col-md-8 col-lg-8">
              <h4 class="page-title"> Update Profile</h4>
              <div class="breadcrumb-list">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">UpdateProfile</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- End Breadcrumbbar --> 
        <!-- state start--> 
        <div class="row">
            
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <h4 class="header-title">Update Profile</h4>
                <form method="POST" class="forms-sample">
                    {% csrf_token %}

                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Shop Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="shop_name" value="{{user.user_shop.shop_name}}" class="form-control" id="" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Address</label>
                    <div class="col-sm-9">
                      <input type="text" name="address" value="{{user.user_shop.address}}" class="form-control" id="exampleInputEmail2" placeholder="address">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                    <div class="col-sm-9">
                      <input type="text" name="phone" value="{{user.user_shop.phone}}" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">User Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="username" value="{{user.username}}" class="form-control" id="" placeholder="Username">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                      <input type="email" name="email" value="{{user.email}}" class="form-control" id="" placeholder="Username">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="first_name" value="{{user.first_name}}" class="form-control" id="" placeholder="Username">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Last Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="last_name" value="{{user.last_name}}" class="form-control" id="" placeholder="Username">
                    </div>
                  </div>
                  
                  <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
    </div>
</div>

{% endblock content %}